.gk-modal {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding-top: 150px;
}

.gk-is-active {
  display: block;
}

.gk-modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.gk-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  min-height: 200px;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.gk-modal-container {
  padding: 0.01em 16px;
  min-height: 200px;
}

.gk-modal-footer {
  justify-content: "flex-end";
  padding: 15px;
  height: 55px;
  text-align: right;
  background-color: lightblue;
}

.gk-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 768px) {
  .modal-content {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .gk-modal-content {
    width: 500px;
  }
}
